<script setup lang="ts">
import ACheckbox from '@/Atoms/ACheckbox.vue'

defineProps({
  text: { type: String, required: true },
  status: { type: Boolean, required: true },
  id: { type: Number, required: true }
})
</script>

<template>
  <div
    :class="`${
      status ? 'bg-gradient-to-r from-purple-300 to-pink-300' : 'bg-white'
    } flex justify-between items-center border-2 border-purple-500 rounded-lg w-1/4 px-4 py-2`"
  >
    <p :class="{ 'line-through': status }">{{ text }}</p>
    <ACheckbox :model-value="status" :id="id" />
  </div>
</template>

<style scoped></style>
