<script setup lang="ts">
import { useUtilsStore } from '@/stores/general'
import { useTodoStore } from '@/stores/general'
import { ref } from 'vue'
import AInput from '@/Atoms/AInput.vue'
import AButton from '@/Atoms/AButton.vue'

const utilsStore = useUtilsStore()

const todoStore = useTodoStore()
const addTodo = () => {
  const todosLength = todoStore.todos?.length
  const data = {
    id: todosLength ? todosLength + 1 : 1,
    content: content.value,
    status: false
  }
  todoStore.addTodo(data)
  content.value = ''
}

const content = ref<string>('')
</script>

<template>
  <AInput v-model="content" />
  <a-button :is-empty="content === ''" class="mx-2" @click="addTodo">SAVE</a-button>
  <a-button @click="utilsStore.expand">CANCEL</a-button>
</template>

<style scoped></style>
