<script setup lang="ts">
import { useTodoStore } from '@/stores/general'
import ATab from '@/Atoms/ATab.vue'

const todoStore = useTodoStore()
</script>

<template>
  <div class="flex justify-between gap-x-2 items-center w-1/4 py-2">
    <a-tab :is-icon="true">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M10.5 6h9.75M10.5 6a1.5 1.5 0 11-3 0m3 0a1.5 1.5 0 10-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-9.75 0h9.75"
        />
      </svg>
    </a-tab>
    <a-tab @click="todoStore.getAllTodo">ALL</a-tab>
    <a-tab @click="todoStore.filterTodo(false)">TODO</a-tab>
    <a-tab @click="todoStore.filterTodo(true)">DONE</a-tab>
  </div>
</template>

<style scoped></style>
