<script setup lang="ts">
defineProps({
  isEmpty: { type: Boolean, default: false }
})

const emit = defineEmits(['click'])

const handleClick = () => {
  emit('click')
}
</script>

<template>
  <button
    :class="`${
      isEmpty ? 'bg-purple-200' : 'bg-white'
    } text-purple-500 text-sm font-semibold rounded-full px-4 py-2 hover:bg-purple-200`"
    type="button"
    :disabled="isEmpty"
    @click="handleClick"
  >
    <slot></slot>
  </button>
</template>

<style scoped></style>
