<script setup lang="ts">
import { computed } from 'vue'
import { useTodoStore } from '@/stores/general'

const props = defineProps({
  modelValue: { type: Boolean, required: true },
  id: { type: Number, required: true }
})

const todoStore = useTodoStore()
const status = computed({
  get() {
    return props.modelValue
  },

  set() {
    todoStore.finishTodo(props.id, props.modelValue)
  }
})
</script>

<template>
  <input v-model="status" type="checkbox" />
</template>

<style scoped></style>
