<script setup lang="ts">
import { computed } from 'vue'

const props = defineProps({
  modelValue: { type: String, default: '' }
})

const emit = defineEmits(['update:modelValue'])
const content = computed({
  get() {
    return props.modelValue
  },

  set(val) {
    emit('update:modelValue', val)
  }
})
</script>

<template>
  <input
    v-model="content"
    class="px-4 py-2 rounded-full w-[500px] text-sm"
    type="text"
    placeholder="What you wanna do?"
  />
</template>

<style scoped></style>
