<script setup lang="ts">
defineProps({
    logoText: { type: String, default: "WhatOdoo"}
})
</script>

<template>
  <h2 class="font-semibold text-white text-2xl animate-pulse">{{ logoText }} </h2>
</template>

<style scoped></style>
