<script setup lang="ts">
defineProps({
  isIcon: { type: Boolean, default: false }
})

const emit = defineEmits(['click'])

const handleClick = () => {
  emit('click')
}
</script>

<template>
  <div
    :class="`${
      isIcon
        ? 'cursor-default w-auto px-4 hover:bg-gradient-to-r hover:from-purple-500 hover:to-pink-500'
        : 'hover:bg-gradient-to-r hover:from-purple-300 hover:to-pink-300 w-full cursor-pointer'
    } flex rounded bg-gradient-to-r from-purple-500 to-pink-500 text-white font-semibold py-2 justify-center`"
    @click="handleClick"
  >
    <slot></slot>
  </div>
</template>

<style scoped></style>
