<script setup lang="ts">
import { useTodoStore } from '@/stores/general'
import { storeToRefs } from 'pinia'
import { onMounted } from 'vue'
import MCard from '@/Molecules/MCard.vue'
import MTabs from '@/Molecules/MTabs.vue'

const todoStore = useTodoStore()
const { filteredTodos } = storeToRefs(todoStore)

onMounted(() => {
  todoStore.getAllTodo()
})
</script>

<template>
  <div class="flex flex-col gap-y-4 justify-around items-center py-16">
    <MTabs />
    <MCard
      v-for="todo in filteredTodos"
      :key="todo.id"
      :text="todo.content"
      :status="todo.status"
      :id="todo.id"
    />
  </div>
</template>

<style scoped></style>
