<script setup lang="ts">
import { useUtilsStore } from '@/stores/general'
import { storeToRefs } from 'pinia'
import ALogo from '@/Atoms/ALogo.vue'
import MForm from '@/Molecules/MForm.vue'
import AButton from '@/Atoms/AButton.vue'

const utilsStore = useUtilsStore()
const { expanded } = storeToRefs(utilsStore)
</script>

<template>
  <div
    class="flex flex-1 justify-around items-center bg-gradient-to-r from-purple-500 to-pink-500 py-4"
  >
    <ALogo />
    <a-button v-if="!expanded" @click="utilsStore.expand">NEW TASK</a-button>
    <div v-else>
      <MForm />
    </div>
  </div>
</template>

<style scoped></style>
